# macOS system files
.DS_Store

# NPM packages
node_modules/

# Built files
dist/
docs/api/

# Config
config.js

# Test files
/test-results/
/playwright-report/
/playwright/.cache/
.idea/workspace.xml
src/modules/configuration.js
