#coi-banner-wrapper {
  --color: var(--black);
  --footer-background: var(--white);
}
#coi-banner-wrapper h1,
#coi-banner-wrapper h2,
#coi-banner-wrapper h3,
#coi-banner-wrapper h4,
#coi-banner-wrapper h5,
#coi-banner-wrapper h6 {
  --color: var(--black);
}

button.coi-banner__accept {
  color: var(--white) !important;
}

button.coi-consent-banner__category-name:focus {
  box-shadow: none;
}
