html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

body > header {
  padding: .5rem 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  font-size: 1.33rem;
}

body > main {
  padding: 0;
  flex: 1 1 auto;
  overflow: auto;
}

body > footer {
  padding: .5rem 1rem;
}
