/**
 * Picocss theme overrides to match SDFI design guide
 */

:root {
  --font-family: 'Roboto', sans-serif;
  --font-weight: 300;
  --font-size: .875rem;
  --line-height: 1.2rem;
  --border-radius: 2rem;
}

small {
  --font-size: 0.75em;
}

h1 {
  --font-size: 2.625rem;
  --font-weight: 300;
  --typography-spacing-vertical: 3rem;
}

h2 {
  --font-size: 1.375rem;
  --font-weight: 300;
  --typography-spacing-vertical: 1.75rem;
}

h3 {
  --font-size: 1.88rem;
  --font-weight: 400;
  --typography-spacing-vertical: 1.375rem;
}

h4 {
  --font-size: .75rem;
  --font-weight: 700;
  --typography-spacing-vertical: .875rem;
}

h5 {
  --font-size: .625rem;
  --font-weight: 700;
  --typography-spacing-vertical: .7rem;
}

[data-theme=light],
:root:not([data-theme=dark]) {
  color-scheme: light;
  --background-color: #fff;
  --color: #000;
  --h1-color: #000;
  --h2-color: #000;
  --h3-color: rgba(0, 0, 0, 0.65);
  --h4-color: rgba(0, 0, 0, 0.65);
  --h5-color: rgba(0, 0, 0, 0.65);
  --h6-color: rgba(0, 0, 0, 0.65);
  --muted-color: #0097A7;
  --muted-border-color: rgba(143, 177, 181, 0.6);
  --primary: #0097A7;
  --primary-hover: #22C3AC;
  --primary-focus: #E98436;
  --primary-inverse: #fff;
  --secondary: #F2F7F7;
  --secondary-hover: #E1ECED;
  --secondary-focus: #E98436;
  --secondary-inverse: #fff;
  --contrast: #045C65;
  --contrast-hover: #000;
  --contrast-focus: #E98436;
  --contrast-inverse: #fff;
  --mark-background-color: rgba(143, 177, 181, 0.6);;
  --mark-color: #000;
  --ins-color: #3EDDC6;
  --del-color: #FF5252;
}
