/*
 * THESE CONFIGURATIONS WILL BE MADE PUBLIC!
 *
 * These variables will be available in a Javascript for everyone to see.
 * NO SECRET PASSWORDS HERE, PLEASE
 */

const config = {
  
  // STAC TOKEN can be aquired from https://dataforsyningen.dk/
  API_STAC_TOKEN: "[ INSERT TOKEN ]",

  // DHM URL and auth can be aquired from https://datafordeler.dk/dataoversigt/danmarks-hoejdemodel-dhm/koter/
  API_DHM_TOKENA: "[ INSERT USERNAME ]",
  API_DHM_TOKENB: "[ INSERT PASSWORD ]"

}
