skraafoto-first-time-visit dialog {
  padding: 0 !important;
  overflow: auto;
}
skraafoto-first-time-visit dialog[open] {
  width: 45rem;
  margin: auto;
  max-height: 87.5rem;
  max-width: 100%;
}
skraafoto-first-time-visit dialog::backdrop {
  background-color: hsla(0, 0%, 0%, 0.6);
  transition: backdrop-filter 0.2s;
}
skraafoto-first-time-visit dialog article {
  padding: var(--space-xl) var(--space-lg);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
skraafoto-first-time-visit dialog button {
  margin: 0;
}
skraafoto-first-time-visit .btn-welcome-close {
  transition: opacity 0.3s ease;
  margin-top: var(--space);
}
skraafoto-first-time-visit .fade-out, 
skraafoto-first-time-visit .fade-out::backdrop {
  opacity: 0;
  transition: opacity 0.3s ease;
}
skraafoto-first-time-visit ul li {
  text-align: left;
}
skraafoto-first-time-visit .btn-welcome-close.quiet {
  position: absolute;
  top: var(--space-sm);
  right: var(--space);
  margin: 0;
}