.ol-tooltip {
  position: relative;
  background: var(--c7);
  border-radius: 0.5rem;
  color: var(--white);
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
  font-size: 0.8rem;
  cursor: default;
  user-select: none;
}
.ol-tooltip-static {
  background-color: var(--c7);
  color: var(--white);
}
.ol-tooltip-measure::before,
.ol-tooltip-static::before {
  border-top: 0.5rem solid var(--c7);
  border-right: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
  content: "";
  position: absolute;
  bottom: -0.4rem;
  margin-left: -0.5rem;
  left: 50%;
}