skraafoto-address-search article {
  position: relative;
}
skraafoto-address-search label {
  height: 0;
  width: 0;
  overflow: hidden;
  display: block;
  margin: 0;
}
skraafoto-address-search .gs-input {
  margin: 0 !important;
  padding-top: var(--space-sm);
  padding-bottom: var(--space-sm);
}
skraafoto-address-search .sf-search-btn-open {
  display: none;
}
skraafoto-address-search g-search-results {
  top: -0.25rem;
}
skraafoto-address-search .gs-result-list {
  text-align: left;
  z-index: 100;
  max-width: 100%;
  border-radius: var(--border-radius);
  box-shadow: 0 0.0625em 0.15625em rgba(0,0,0,.15);
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 35rem;
}
skraafoto-address-search .gs-result-list:empty {
  display: none;
}
skraafoto-address-search li.gs-result-item {
  margin: 0;
  border-top: solid 1px var(--grey2);
  background-color: var(--white);
  padding: var(--space-xs) var(--space);
}
skraafoto-address-search .gs-result-item:first-child {
  border-top: none;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
skraafoto-address-search .gs-result-item:last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
skraafoto-address-search .gs-result-item:hover {
  background-color: var(--highlight) !important;
}
skraafoto-address-search .gs-result-item svg {
  --ds-icon-color: var(--black);
  stroke: var(--black);
}
skraafoto-address-search g-search-result-box {
  gap: var(--space-sm);
}
skraafoto-address-search .gs-title-text {
  color: var(--black);
  padding: var(--space-sm) 0;
  font-size: 0.875em;
}
skraafoto-address-search .gs-wrapper {
  width: 20rem
}
skraafoto-address-search .sf-search-collapsible {
  border-radius: var(--space);
}

skraafoto-address-search .sf-slider-close {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 1.2em;
  color: var(--color);
}

@media screen and (max-width: 50rem) {

  skraafoto-address-search .sf-header {
    height: 4rem;
  }

  skraafoto-address-search .sf-search-collapsible .sf-search-btn-open {
    display: block;
  }

  skraafoto-address-search .sf-search-collapsible .sf-input-container {
    height: 4rem;
    background: linear-gradient(to left, var(--background-color) 100%, transparent 100%);
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    transition: transform .5s;
    transform: translate(100vw,0);
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end
  }

  skraafoto-address-search .sf-search-collapsible .open {
    transform: translate(0,0) !important;
    margin: 0rem;
    height: 4rem;
  }

  skraafoto-address-search .sf-search-collapsible input.sf-search-input + div {
    left: auto;
    right: 0;
    max-width: calc(100vw - 2rem);
  }
  skraafoto-address-search button#search-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  skraafoto-address-search g-search {
    flex: 0 1 100%;
  }
  skraafoto-address-search .gs-wrapper {
    width: 100%;
  }
}
@media screen and (min-width: 50rem) {
  skraafoto-address-search .sf-slider-close {
    display: none;
  }
}