skraafoto-advanced-map,
skraafoto-map {
  height: 100%;
  width: 100%;
  display: block;
}
.geographic-map { 
  width: 100%; 
  height: 100%;
  cursor: crosshair;
  position: relative;
}
.geographic-map .ol-zoom {
  top: auto;
  left: auto;
  bottom: 2rem;
  right: 1rem;
  position: absolute;
}
.geographic-map .ol-zoom-in,
.geographic-map .ol-zoom-out {
  margin: .25rem 0 0;
  display: block;
  font-size: 2rem;
  font-weight: 100;
  border-radius: 2.3rem;
  font-family: roboto;
  box-shadow: 0 0.15rem 0.3rem 0 hsl(0,0%,50%,0.5);
}
.geographic-map .ol-zoom-in {
  padding: 0 0 0 0;
}
.geographic-map .ol-zoom-out {
  padding: 0 0 3px 0;
}
.geographic-map skraafoto-compass {
  position: absolute;
  top: var(--space);
  right: var(--space);
  z-index: 1;
  -webkit-transform: translate3d(0,0,0); /* Fix for Safari bug */
}
.geographic-map ds-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.geographic-map ds-spinner > .ds-loading-svg {
  max-width: 5rem !important;
  background-color: var(--background-color);
  border-radius: 40px;
  padding: 0.75rem;
}
.ds-icon-map-icon-findonmap::before {
  width: 2rem;
  height: 2rem;
}

.ds-icon-map-icon-findonmap {
  position: absolute;
  z-index: 3;
  bottom: 9rem;
  right: 1rem;
}
@media screen and (max-width: 35rem) {

  .geographic-map skraafoto-compass {
    top: 0.5rem;
    right: 0.5rem;
  }
  .geographic-map .ol-zoom {
    right: 2rem;
  }
}