
/* CSS imports*/
@import "@dataforsyningen/designsystem/assets/designsystem.css";

/** Custom styles for cookieinformation popup */
@import "./styles/cookieinformation.css";

/* Measure tool styles*/
@import "./components/tools/measure.css";

body {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}