
/* CSS imports*/
@import "@dataforsyningen/designsystem/assets/designsystem.css";

/* Custom styles for cookieinformation popup */
@import "./styles/cookieinformation.css";

/* Web component styles */
@import "./components/viewport/viewport.css";
@import "./components/viewport/viewport-mini.css";
@import "./components/viewport/direction-picker.css";
@import "./components/alert/alert-splash.css";
@import "./components/compass/compass.css";
@import "./components/geomap/geomap.css";

/* Header styles */
@import "./components/header/page-header.css";
@import "./components/header/address-search.css";

/* Tools and buttons */
@import "./components/tools/measure.css";
@import "./components/geolocation/geolocation.css";
@import "./components/tools/info-box.css";

body {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}